@import './colors';
@import './media-queries';

%alig-justify{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background: $navbg;
}

.body{
   @extend %alig-justify;

   .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;

    .card{
        position: relative;
        min-width: 320px;
        height: 440px;
        box-shadow: inset 5px 5px 5px rgba(9, 61, 163,0.2),
                    inset -5px -5px 15px rgb(116, 137, 180),
                    5px 5px 15px rgba(0,0,0,0.3),
                    -5px -5px 15px rgba(255,255,255,0.1);
        border-radius: 15px;
        margin: 10px;

        .box{
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            background: rgb(8, 97, 138);
            border: 2px solid rgb(8, 118, 161);
            border-radius: 15px;
            box-shadow: 0 20px 50px rgba(2, 14, 78, 0.5);
            transition: 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                transform: translateY(-50px);
                box-shadow: 0 40px 70px rgba(2, 14, 78, 0.5);
            }
            .content{
                padding: 20px;
                text-align: center;

                h2{
                    position: absolute;
                    top: -10px;
                    right: 30px;
                    font-size: 8em;
                    color: $navbglight;
                }
                h3{
                    font-size: 2em;
                    color: $navtxt;
                    z-index: 1;
                    transition: 0.5s;
                }
                p{
                    font-size: 1em;
                    font-weight: 300;
                    margin-top: 10px;
                    color: $navtxt;
                    z-index: 1;
                    transition: 0.5s; 
                }
                a{
                    position: relative;
                    display: inline-block;
                    border-radius: 15px;
                    text-decoration: none;
                    font-weight: bold;
                    color: $navtxt;
                    margin-top: 15px;
                    padding: 8px 20px;
                    background: $navbg;
                    font-size: 25px;
                    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

                    
                }
                
            }
            &:nth-child(1){
                background: rgb(3, 160, 134);
            }
        }
    }
   }
}